# Dependencies
node_modules
npm-debug.log

# Build output
.next
out

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Misc
README.md
*.md
.env*.local
